<div class="body-container">

  <header>
    <h1>Catégorie</h1>
    <app-sort-buttons
      [ngModel]="sort$|async"
      (ngModelChange)="categoriesStore.setSort($event)"
      [options]="sortOptions">
    </app-sort-buttons>
  </header>

  <div class="list-container">

    <!--  Filters & Search  -->
    <div class="large-row search-container">
      <app-search-bar (inputChange)="categoriesStore.setSearch($event)"/>
      <app-select
        [options]="groups$|async"
        [labelKey]="'name'"
        [defaultOption]="{value: 0, label: 'Tous les groupes de catégories'}"
        (selectionChange)="onGroupSelect($event)">
      </app-select>
    </div>

    <!--  Categories List  -->
    <div class="table-grid">
      @if ((sort$|async) === 'alphabet') {
        @for (category of (categories$|async); track category) {
          <app-category-card
            [category]="category"
            [isCategorySelected]="categorySelected?.id === category.id"
            (selection)="getSelectedCategory($event)"
          ></app-category-card>
        }
      } @else {
        @for (categoriesByGroup of (categoriesByGroup$|async); track categoriesByGroup.group.id) {
          <div class="large-row group-title" [ngClass]="categoriesByGroup.group.color">
            {{ categoriesByGroup.group.name }}
          </div>

          @for (category of categoriesByGroup.categories; track category) {
            <app-category-card
              [category]="category"
              [isCategorySelected]="categorySelected?.id === category.id"
              [showTag]="false"
              (selection)="getSelectedCategory($event)"
            ></app-category-card>
          }
        }
      }
    </div>
  </div>

  <footer>
    <button class="primary-button"
            [class.disabled]="!categorySelected"
            [disabled]="!categorySelected">
      Sélectionner la catégorie
    </button>
  </footer>
</div>
