@import "./variables";


@mixin button($bg, $color) {
  padding: 12px 7.5px;
  background-color: $bg;
  border-radius: 4px;
  color: $color;
  border: none;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.sort-button {
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: $medium;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: $medium;
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }

  &.selected {
    background-color: $selected-background;
    color: $blue;

    svg {
      color: $blue;
    }
  }
}

.primary-button {
  @include button($blue, white);
}

