@use "./variables" as *;

input[type=text].search-bar {
  box-sizing: border-box;
  color: $dark;
  border: $border;
  border-radius: $border-radius-input;
  background-image: url('../../public/icons/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;

  &::placeholder {
  color: $dark;
  }
}

select {
  border: $border;
  background-color: $white;
  padding: 8px;
  border-radius: $border-radius-input;
  color: $dark;
}
