@import "./variables";

input[type=text].search-bar {
  box-sizing: border-box;
  color: $dark;
  border: 1px solid $light;
  border-radius: 4px;
  background-image: url('../../public/icons/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;

  &::placeholder {
  color: $dark;
  }
}

select {
  border: 1px solid $light;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  color: $dark;
}
