@use "sass:map";
@use "./variables";

$group-colors: (
  blue: (text: variables.$blue, bg: variables.$light-blue),
  red: (text: variables.$red, bg: variables.$light-red),
  yellow: (text: variables.$yellow, bg: variables.$light-yellow),
  purple: (text: variables.$purple, bg: variables.$light-purple),
  green: (text: variables.$green, bg: variables.$light-green),
  pink: (text: variables.$pink, bg: variables.$light-pink),
);

@mixin group-tag-colors($color, $bg) {
  background-color: $bg;
  color: $color;
}

@each $name, $color in $group-colors {
  .m-#{"" + $name} {
    @include group-tag-colors(map.get($color, text), map.get($color, bg));
  }
}
