$dark: #001A25;
$medium: #58676D;
$light: #DCE4ED;

$blue: #11ABEC;
$red: #FD755F;
$yellow: #FAA11C;
$purple: #A76DEB;
$green: #4AC18E;
$pink: #FF8CC1;

$selected-background: #F1F7FC;
$description-color: #636970;
