@use "../../../styles/categories" as categories;

.category-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  padding: 16px 24.5px;

  p {
    margin: 0;
    font-size: 14px;
  }

  h2 {
    margin: 4px 0
  }

  @include categories.default-colors;

  &:hover {
    @include categories.hover-colors;
  }

  &:active {
    @include categories.selected-colors;
  }
}
