@use "./styles/_variables";
@use "./styles/_groups";
@use "./styles/_buttons";
@use "./styles/_categories";
@use "./styles/_forms";

@font-face {
  font-family: 'Eina03';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Eina03/Eina03-SemiBold.ttf");
}

body,html, router-outlet {
  min-height: 100vh;
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  background-color: variables.$bg;
  margin: 0;
}

h1 {
  font-family: 'Eina03', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

h2 {
  font-family: 'Eina03', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
