@import "./styles/_variables";
@import "./styles/_groups";
@import "./styles/_buttons";

//SEMI-BOLD (600)
@font-face {
  font-family: 'Eina03';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Eina03/Eina03-SemiBold.ttf");
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  background-color: #F3F5F8;
  margin: 0;
}

h1 {
  font-family: 'Eina03', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

h2 {
  font-family: 'Eina03', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

//BUTTONS
.sort-button {
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: $medium;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: $medium;
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }

    &.selected {
      background-color: $category-selected-background;
      color: $blue;

      svg {
        color: $blue;
      }
    }
}

.primary-button {
  @include button($blue, white);
}
