@use "../variables" as *;

input[type=text].search-bar {
  box-sizing: border-box;
  color: $dark;
  border: $border;
  border-radius: $border-radius-input;
  background-image: url('../../../../public/icons/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;

  &::placeholder {
  color: $dark;
  }
}

select {
  border: $border;
  background-color: $white;
  padding: 8px;
  border-radius: $border-radius-input;
  color: $dark;
}


.list-container {
  gap: 16px;
  margin: 32px 10% calc(32px + $footer-height*2) 10%;
  border: $border;
  border-radius: $border-radius-container;
}

.large-row {
  grid-column: 1 / -1;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  grid-auto-rows: min-content;
  gap: 1px;
  background: $light;
}

.search-container {
  background-color:  $container-bg;
  padding: 16px 24px;
  border-bottom: $border;
  border-top-right-radius: $border-radius-container;
  border-top-left-radius: $border-radius-container;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

app-search-bar {
  width: 100%;
}



@media (max-width: 789px) {
  .table-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
